<%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class=>"abc" %>

  <div class = "days">
    <button  type="button" >MON</button>
    <button class = "bt" type="button">TUE</button>
    <button class = "bt" type="button">WED</button>
    <button class = "bt" type="button">THURS</button>
    <button class = "bt" type="button">FRI</button>
  </div>
  <br><br>

  <div>
    <img src="http://images.sodahead.com/polls/001344557/green_plus_sign_hi_answer_2_small.png" alt="some_text" id="ad_task">
  </div>

  <div  id="myPopup">

   <%= form_for @task, remote: true ,action: "create"  do |f| %>
         New Task <br>
        <div >
        <%= f.label :name %>
        <%= f.text_field :name %>
        </div>

        <div >
        <%= f.label :time %>
        <%= f.text_field :start_time %>
        </div>

        <div >
        <%= f.submit 'Add' %>
        </div>
    <% end %>

  </div>

  <h1>TASK TABLE</h1>

  <table class="rwd-table">
    <tr>
      <th>Sr no.</th>
      <th>Task</th>
      <th>Time</th>
      <th>Start</th>
      <th>Total Time</th>
    </tr>

    <% @tasks.each do |t| %>
      <tr>
        <td><%="#{t.id}"%></td>
        <td><%="#{t.name}"%></td>
        <td><%="#{t.start_time}"%></td>
        <td>
          <button class = "btn1" >Start</button><br>
          <button class = "btn2" >
            <img src="http://preloaders.net/preloaders/321/Clock%20with%20hands.gif" alt="some_text"><br/>
          End</button>
        </td>
        <td><% t.end_time %></td>
      </tr>
    <% end %>

  </table>


